<!doctype html>
<html lang='en'>
    <head>
        <title>TabVert - Get All the Tabs Listed Vertically</title>        
    </head>
    <body>
        
        <div data-bind='foreach:tabs'>
                    <p>               
                 <img data-bind="attr:{src:faviconUrl,title:title},event:{click:$parent.tabGlimpse}" height="20" width="20"></img>                                                        
            </p>    
        </div>        
       <script src="/scripts/tabvert.js"></script> 
        <script src="/scripts/knockout-3.2.0.js"></script>
        <script src="/scripts/tab.js"></script>
        <script src="/scripts/viewmodel.js"></script>
    </body>
</html>